---
Checks: "clang-diagnostic-*,-clang-diagnostic-pragma-once-outside-header,clang-analyzer-*,cppcoreguidelines-*,modernize-*,bugprone-*,misc-*,performance-*,readability-*,-modernize-use-trailing-return-type"
WarningsAsErrors: true
HeaderFilterRegex: ""
AnalyzeTemporaryDtors: false
FormatStyle: file
CheckOptions:
  - key: google-readability-function-size.StatementThreshold
    value: "800"
  - key: modernize-loop-convert.MinConfidence
    value: reasonable
---

